<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">ScentSation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/perfume-builder">Perfume Builder</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/previous-perfumes">Previous Perfumes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/checkout">Checkout</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/order-history">Order History</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/fragrance-ai">Fragrance AI</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/availablesessions">Available Sessions</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/bookedsession">Booked Session</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/StaffAppointmets">Staff Appointments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/MyApointments">My Appointments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/cart">Cart</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/dashboardcontent">Dashboard</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
